{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for blog in content %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ medic.patient_bmi }}</h5>
            <p class="card-text">{{ medic.patient_age }}</p>
            <p  class="card-text">{{ medic.patient_charges }} --- {{ blog.region }}</p>
          </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}



